*{
    margin: 0;
    padding: 0;
    /* background-color:   #d0fdd7; */
}

/* Barra de navegação */
header{
    width: 100%;
    height: 20%;
    background-color: #d0fdd7 ;
    align-items: center;
}
#logo{
    width: 350px;
    height: 100px;
}
#icons{
    width: 80px;
    height: 80px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 5%; */
    padding-right: 10%;
}
.linha-preta {
    border-top: 5px solid black;
    width: 100%;
  }
h1{
    font-size: 2.8em;
    text-align: center;
}

h2{
    font-size: 1.3em;
    text-align: center;
}
.nav-logo{
    list-style: none;
    display: flex;
}
.nav-bar{
    list-style: none;
    display: flex;
}
.nav-bar li{
    padding-left: 10%;
}
a{  
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}
@media screen and (max-width:600px){
    header{
        width: 100%;
        height: 20%;
        background-color: #d0fdd7 ;
        align-items: center;
    }
    #logo{
        width: 100px;
        height: 25px;
    }
    #icons{
        width: 20px;
        height: 20px;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 10%;
    }
    .linha-preta {
        border-top: 1px solid black;
        width: 100%;
      }
    h1{
        font-size: 1em;
        text-align: center;
    }
    
    h2{
        font-size: 0.5em;
        text-align: center;
    }
    .nav-logo{
        list-style: none;
        display: flex;
    }
    .nav-bar{
        list-style: none;
        display: flex;
    }
    .nav-bar li{
        padding-left: 7%;
    }
    a{  
        text-decoration: none;
        transition: 0.2s;
    }

}




.formulario  .titulo { 

    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 10px;
  
  }
  
  .formulario {
     
    max-width: 500px;
    margin: auto;
    background: white;
    overflow: hidden;
    padding: 20px;
  
  
  }
  
  :focus{outline: none;}
  
  .label { 
  
    float: left; 
    width: 100%; 
    margin-bottom: 25px; 
    position: relative;
  
  }
  
  .input-bordas{
    
    font: 15px/24px "Lato", Arial, sans-serif; 
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    border: 1px solid #ccc; 
    padding: 7px 14px 9px; 
    transition: 0.4s;
  
  }
  
  .textarea { resize:none!important; }
  
  .button-form { 
  
    background-color: #39f;
    padding: 0.5em 1.3em;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
  
  }
  
  .borda-inversa:hover, .borda-inversa:focus, .borda-inversa:active {
    
    background: none;
    color:#39f; 
  
  }

  .mapa{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
  }
  iframe{
    width: 800px;
    height: 500px;
  }

  .hora{
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .hora p{
    font-size: 1.8em;
  }

  @media screen and (max-width:600px){
    .mapa{
        padding-top: 10%;
        display: flex;
        justify-content: center;
      }
      iframe{
        width: 300px;
        height: 250px;
      }
      .hora{
        justify-content: center;
        text-align: center;
        padding-bottom: 5%;
        padding-top: 5%;
      }
      .hora h1{
        font-size: 2em;
      }
      .hora p{
        font-size: 1.2em;
      }
  } 